ion-toolbar {
    --background:blue;
  }
ion-header,ion-toolbar,ion-title{
  color :white;
}

ion-content{
  --background:#f5f5f3;
  ion-grid,ion-row-ion-col,ion-img{
      width:125px;
      height: 125px;
      border-radius: 50%;
      border :5px solid #ffffff;
      
  }

  ion-fab{
    padding-top: 80px;

  }

  #form{
    margin-top:15px;
    padding-left:30px;
    padding-right:30px;

    ion-input{
        --background: white;
        margin-top:20px;
        padding-left:30px;
        padding-right:30px;
        border-radius: 20%;

    }
  }


    
}

  