<ion-header>
  <ion-toolbar>
    <ion-title>Profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  
    <ion-grid class="card">
      <ion-row class="header">
        <ion-col class="avatar" size="12" *ngFor="let photo of photoService.photos; index as position">
          <ion-img [src]="photo.webviewPath"></ion-img>
        </ion-col>
      </ion-row>
    </ion-grid>

      <ion-fab  horizontal="center"  slot="fixed">
        <ion-fab-button (click)="addPhotoToGallery()">
          <ion-icon name="camera"></ion-icon>
        </ion-fab-button>
      </ion-fab>

      <form id=form>
        <ion-item>
          
        <ion-label position="floating">User Name</ion-label>
          <ion-input type="text"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Email</ion-label>
          <ion-input type="email"></ion-input>
        </ion-item>

        <ion-item >
          <ion-label position="floating">Mobile Number</ion-label>
          <ion-input type="text"  ></ion-input>
        </ion-item> 

        <ion-button expand="block" shape="round">Update Profile</ion-button>
        
    
      </form>

    

  <app-explore-container name="profile page"></app-explore-container>
</ion-content>
